.header {
  background: url(../../img/guitar.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  height: 950px;

  &__nav {
    padding-top: 78px;

    ul {
      li {
        a {
          color: $black;
        }
      }
    }
  }

  &__dot {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: $accent;
    align-self: center;
    margin: 4px 7px;
  }

  &__words {
    &--first {
      margin-top: 150px;
      padding-left: 15px;
      padding-right: 25px;
    }
    &--second {
      margin-top: 54px;
      padding-right: 25px;
    }
    &--third {
      margin-top: 118px;
      padding-right: 25px;
    }
    &--fourth {
      margin-top: 151px;
    }
  }

  &__words--hidden {
    @include mQ($sm) {
      display: none;
    }
  }

  &__heading {
    margin-top: 270px;
    margin-left: -376px;

    @include mQ($md) {
      margin-left: -276px;
    }
    @include mQ($sm) {
      margin-left: -180px;
    }
    @include mQ($xs) {
      margin-left: -300px;
    }
    span {
      margin-left: -55px;
      @include mQ($md) {
        margin-left: -39px;
      }
      @include mQ($sm) {
        margin-left: -22px;
      }
      @include mQ($xs) {
        color: $white;
        //margin-left: -22px;
      }
    }
  }
}
