h1,
h2 {
  font-family: "Oswald Bold";
  text-transform: uppercase;
}

h1 {
  font-size: 100px;
  line-height: 139px;
}

h2 {
  font-size: 80px;
  line-height: 119px;
}

h4 {
  font-family: "Oswald Regular";
  font-size: 36px;
  line-height: 75px;
}

p {
  font-family: "Lora Regular";
  font-size: 18px;
  line-height: 36px;
}
