//grid variable
$columns: 20;

$xl: 1950px;
$lg: 1400px;
$md: 1080px;
$sm: 680px;
$xs: 400px;

//colors
$black: #241c18;
$white: #e4dddb;
$accent: #826b60;

$bg--about: linear-gradient(#f3f1f0, #f2efee 70%, #f2efed);
$bg--music: #f8f8f8;
$bg--tour: #f1eeed;
